<head>
    <title>

    </title>

</head>
<body>

<div>
    @if (User.Identity.IsAuthenticated)
    {
        <p> Welcome @User.Identity.Name !</p>
        <a href="~/Account/Logout">Выйти</a>
        <a href="~/Account/ChatsPage">Чаты</a>
        // кнопка перехода к ChatsPage
    }
    else
    {
        <p> Welcome user !</p>
        <a href="~/Account/Signin">Зарегистрироваться</a>
        <a href="~/Account/Login">Войти</a>
    }
    
</div>
<div>
    
   
</div>
</body>
